* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --Primary: #00203FFF;
    --Secondary: white;
    --Third: rgba(0, 0, 0, 0.79);
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Primary);
}

.container {
    background-color: var(--Secondary);
    border-radius: 10px;
    box-shadow: 10px 20px 25px var(--Third);   
 /* box-shadow: horizontal vertical blur color ; */
    overflow: hidden;
    max-width: 100%;
}

.header { 
    border-bottom: 1px solid #f7f7f7;
    background-color: #f7f7f7;
    padding: 20px 40px;
}


.header h2 {
    text-align: center;
}

.form {
    padding: 30px 40px;
}
.form-control {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}
.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input{
    border: 2px solid #f0f0f0;
}

input[type=submit] {
    width: 60%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 10px;
    margin: 20px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
  }

input[type=submit]:hover {
    background-color: #45a049;
}